canvas#canvas.uk-width-1-2.uk-height-1-1
.uk-width-1-2.uk-height-1-1.uk-form
	.uk-grid
		.uk-width-1-2.arrow
			input.uk-button(type="button" value="↖" v-on="click: currentDirection = '↖'")
			input.uk-button(type="button" value="↑" v-on="click: currentDirection = '↑'")
			input.uk-button(type="button" value="↗" v-on="click: currentDirection = '↗'")
			br
			input.uk-button(type="button" value="←" v-on="click: currentDirection = '←'")
			input.uk-button.uk-button-primary(type="button" value="↓" v-model="currentDirection")
			input.uk-button(type="button" value="→" v-on="click: currentDirection = '→'")
			br
			input.uk-button(type="button" value="↙" v-on="click: currentDirection = '↙'")
			input.uk-button(type="button" value="↓" v-on="click: currentDirection = '↓'")
			input.uk-button(type="button" value="↘" v-on="click: currentDirection = '↘'")

		.uk-width-1-2
			select.uk-form-width-small (v-model="currentAnimation")
				option(v-repeat="animations") {{$key}}
			input.uk-button.uk-button-danger(v-on="click: rmAnimation" type="button" value="rm")
			br
			input.uk-form-width-small(v-model="newAnimationName" placeholder="Name")
			input.uk-button.uk-button-success(v-on="click: addAnimation" type="button" value="add")
	hr

	table.frames.uk-table.uk-table-condensed.uk-table-hover(
		v-component="frame"
		v-with="selectedFrame: selectedFrame, frames: animations[currentAnimation].directions[currentDirection]")
		thead
			tr
				th name
				th time
				th x
				th y
				th sx
				th sy
				th rot
		tbody
			tr(v-repeat="frames" v-class="selectedFrame: $index == selectedFrame" v-on="click: selectedFrame = $index")
				td
					input(v-model="name")
				td
					input(type="number" v-model="t" number min="1")
				td
					input(type="number" v-model="x" number)
				td
					input(type="number" v-model="y" number)
				td
					input(type="number" v-model="sx" number step="0.1")
				td
					input(type="number" v-model="sy" number step="0.1")
				td
					input(type="number" v-model="rot | degrees" number)

	input.uk-form-width-small(v-model="newFrameName")
	input.uk-button.uk-button-success(v-on="click: addFrame" type="button" value="add")
	input.uk-button.uk-button-danger(v-on="click: rmFrame" type="button" value="rm")

